In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
z1 = pd.read_csv('data\out_1.csv', usecols=["Datum", "Uhrzeit", "Masse [kg]", "Geschwindigkeit [m/s]"])
z2 = pd.read_csv('data\out_2.csv', usecols=["Date", "Uhrzeit", "m [kg]", "v [m/s]"])

In [13]:
z1.head()

        Datum Uhrzeit  Masse [kg]  Geschwindigkeit [m/s]
0  2019-01-01   09:00       194.0                    8.4
1  2019-01-01   21:00       224.0                    8.8
2  2019-01-02   14:00      3104.0                    9.2
3  2019-01-04   15:00       228.0                    8.0
4  2019-01-05   23:00       755.0                    7.0

In [14]:
z2.head()

         Date Uhrzeit  m [kg]  v [m/s]
0  2019-01-01   09:00    38.0     45.4
1  2019-01-03   06:00   187.0     41.6
2  2019-01-04   10:00    36.0     44.6
3  2019-01-07   14:00     6.0     41.2
4  2019-01-11   06:00    65.0     39.6